.footer{
    background-color: #f1f1f4;
}

ul li p a{
    cursor: pointer;
    
}
ul li p a:hover{
    color: #64b496 !important;
    transition: 0.5s;
}
.footerSocial button{
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    margin-right: 5px;
    margin-top: 15px;
    padding: 0 8px 3px 8px;
    align-items: center;
    justify-content: center;
}
.footerSocial button:hover{
    color: #64b496;
}